@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif, system-ui;
  }
}

/* background-image */
.bg-hero {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url("./hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .swiper-pagination {
  bottom: -40px !important;
} */

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
}
